#contact__banner {
  background-image: linear-gradient(to top, #0e0e10, #23252a00),
    url("../images/webbackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  height: 115vh;
  padding-bottom: 15vh;
}

.contact__page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  height: 100vh;
  z-index: 1;
  width: 100%;
  padding: 0 50px;
  max-width: 1300px;
}

.contact__text {
  text-align: center;
  margin: 0 auto;
  padding: 0 50px;
  max-width: 1300px;
}

.contact__text h2 {
  color: #ffffff;
  font-size: 4rem;
  font-weight: 600;
  line-height: 5rem;
  padding-top: 0.75em;
}

.contact__text p {
  color: #818181;
  font-size: 1.2rem;
  font-stretch: 2rem;
  line-height: 2rem;
  margin-right: 4em;
}

.contact__form {
  max-width: 600px;
  margin: a;
  overflow: hidden;
  margin: 0 auto;
  padding: 1em 3em;
  max-width: 1000px;
}

.placeholder__text {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 1em 0;
  border: 0;
  padding: 10px 0px;
  outline: none;
  transition: 0.5s;
  font-size: 1.4rem;
  color: #ffffff;
  background: transparent;
  font-weight: 100;
  font-size: 1rem;
  cursor: text;
  border-bottom: 1.5px solid #818181;
}

.placeholder__text:focus {
  border-bottom: 2px solid white;
}

textarea.placeholder__text {
  resize: none;
  height: 160px;
}
