#port__banner {
  background-image: linear-gradient(to top, #0e0e10, #23252a00),
    url("../images/webbackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  height: 240vh;
  padding-bottom: 15vh;
}

/* ----------------------Portfolio WORK--------------------------*/

.port__links {
  height: 80vh;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 470px 470px 470px;
  justify-self: center;
  margin: auto auto;
  z-index: 1;
  width: 100%;
  padding: 0 50px;
  max-width: 1300px;
}

.port-image {
  width: 100%;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  border-radius: 30px;
  transition: 0.5s ease;
}

.port-image:hover {
  box-shadow: #0000007c 15px 15px 30px;
  transition: 0.5s ease;
}
#port__image {
  transition: 0.5s ease;
}

#port__image:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: 0.5s ease;
}

.port__btns {
  text-align: center;
}

/* ----------------------RECENT WORK RESPONSIVE--------------------------*/

@media screen and (orientation: portrait) and (max-width: 768px) {
  .port__links {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    display: grid;
    height: 180vh;
  }

  #port__banner {
    height: 420vh;
  }
}

@media screen and (orientation: landscape) and (max-width: 1099px) {
  .port__links {
    -webkit-transform: scale(0.4);
    -ms-transform: scale(0.4);
    transform: scale(0.4);
    margin-top: -10rem;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    height: 180vh;
    padding-bottom: 100px;
  }

  #port__banner {
    height: 760vh;
  }
}

@media screen and (orientation: portrait) and (max-width: 1099px) {
  .port__links {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    margin-top: -10rem;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    height: 180vh;
    padding-bottom: 100px;
  }

  #port__banner {
    height: 450vh;
  }
}

@media only screen and (orientation: landscape) and (min-width: 1100px) and (max-width: 1300px) {
  #port__banner {
    height: 240vh;
  }
  .port__links {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    padding-bottom: 100px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 470px 470px 470px;
  }
  .port__btns span {
    font-size: 12px;
  }
  button {
    padding: 9px 12px;
  }
}
